.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 12px 25px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}
